@keyframes spinning {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  max-height:600px; 
  background: cover;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: orange;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:left;
}

.character {
  position: absolute;
  height: 100px;
  width: 100px;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.spinner {
  -webkit-animation: spinning 2s infinite;
  -moz-animation: spinning 2s infinite;
  -o-animation: spinning 2s infinite;
  animation: spinning 2s infinite;
}

.rotate {
  -webkit-animation: spinning 2s infinite;
  -moz-animation: spinning 2s infinite;
  -o-animation: spinning 2s infinite;
  animation: spinning 2s infinite;
}

.blink {
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
  -o-animation: blink 2s infinite;
  animation: blink 2s infinite;
}

.jump {
  -webkit-animation: jump 2s infinite;
  -moz-animation: jump 2s infinite;
  -o-animation: jump 2s infinite;
  animation: jump 2s infinite;
}

.extrastyle:hover {
  -webkit-animation: spinning 2s infinite;
  -moz-animation: spinning 2s infinite;
  -o-animation: spinning 2s infinite;
  animation: spinning 2s infinite;
}


/* Menu Options */

#menu_box {
  height: 32px;
  width: 184px;
  margin: left;
}

#menu_button {
  height: 25px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
}

ul, li {
  margin:0; 
  padding:0; 
  list-style:none;
}

.menu_class {
  border:1px solid #1c1c1c;
}

#file_menu {
  display:none;
  width:300px;
  border: 1px solid #1c1c1c;
  position: absolute;
  background-color: white; 
  z-index: 1;
}

.file_menu li {
  background-color: #302f2f;
  position: relative;
}

.file_menu li a {
  color:#FFFFFF; 
  text-decoration:none; 
  padding:10px; 
  display:block;
}

.file_menu li a:hover {
  padding:10px;
  font-weight:bold;
  color: #F00880;
}

/* Popup Options */

.popups {
  position: absolute;
  left: 20%;
  right: 0;
  height: 100px;
  width: 800px;
  text-align: center;
  color: red;
}

