body {
  background-color: black;
}

#gameCanvas {
  background-color: black;
}

#lecturer1 {
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
}

.score, .remain {
  font-size: 20px;
  font-weight: 900;
}

