body {
  background-color: black;
  text-align: center;
}

#title {
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  color: white;
  top: 25%;
}

#restartbutton {
  border-radius: 12px;
  background-color: white;
  height: 60px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  border: 2px white solid;
  font: 25px serif;
}

#restartbutton:hover {
  background-color: green;
}